.input-text {
  background-color: #fff;
  outline: none;
  font-size: 2rem;
  width: 80%;
  border-radius: 4px;
  background: none;
  color: #706c6c;
  padding: 10px 15px;
  border: none;
  border: 1px solid rgb(34, 34, 34, 0.15);
  margin-bottom: 20px;
  text-align: center;
  align-self: center;
}
