.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-inner {
  position: relative;
  padding: 50px 32px;
  width: 80%;
  max-width: 450px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
}

.popup-inner .add-name {
  position: absolute;
  bottom: 16px;
  right: 50%;
  transform: translateX(50%);
}
